# Docker image files
*.tar

# MDML specific
.config.json
.sessions.json
.sessions.json*
.config.json*
set_env.sh
mosquitto/wordpassfile.txt
mosquitto/acl_file.txt
grafana_mysqldb/data
grafana_mysqldb/backups
influxdb/lib
mdml_register/MinIO_policies/readwrite_*
mdml_register/config.json
mdml_register/config_old.json
minio/mnt
node_red/data/context
node_red/data/saved_data/
node_red/data/*.backup
node_red/data/postgres_partial_secret.txt
node_red/data/node_red_admin_creds.txt
node_red/data/minio_admin_creds.txt
node_red/data/flows_cred.json
nginx/nginx.conf

# AWS creds
.aws

# BIS S3 
.s3cfg
