version: '3.7'

services:

    nginx:
        image: nginx
        restart: always
        environment:
            NGINX_HOST: "${HOSTNAME}"
        ports:
            - 80:80
            - 443:443
        volumes:
            - /etc/ssl/private/nginx-selfsigned.key:/etc/ssl/private/nginx-selfsigned.key
            - /etc/ssl/certs/nginx-selfsigned.crt:/etc/ssl/certs/nginx-selfsigned.crt
            - /etc/ssl/certs/dhparam.pem:/etc/ssl/certs/dhparam.pem
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf
            - ./nginx/html:/usr/share/nginx/html
        depends_on:
            - node_red

    mosquitto:
        image: mosquitto
        restart: always
        ports:
            - 1883:1883
        volumes:
            - ./mosquitto/wordpassfile.txt:/mosquitto/config/wordpassfile.txt
            - ./mosquitto/acl_file.txt:/mosquitto/config/acl_file.txt
            - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
            - ./mosquitto/mosquitto.log:/mosquitto/log/mosquitto.log

    node_red:
        image: node_red
        user: root
        restart: always
        ports:
            - 1880:1880
        volumes:
            - ./node_red/data:/data
            - ./mdml_register/.s3cfg:/root/.s3cfg
        depends_on:
            - influxdb
            - mosquitto

    influxdb:
        image: influxdb
        restart: always
        ports:
            - 8086:8086
        environment:
            INFLUXDB_DB: "merf"
            INFLUXDB_HTTP_AUTH_ENABLED: "true"
            INFLUXDB_ADMIN_USER: "admin"
            INFLUXDB_ADMIN_PASSWORD: "${MDML_INFLUXDB_SECRET}"
        volumes:
            - ./influxdb/lib:/var/lib/influxdb

    minio:
        image: minio
        restart: always
        ports:
            - 9000:9000
        environment:
            MINIO_ACCESS_KEY: "admin"
            MINIO_SECRET_KEY: "${MDML_MINIO_SECRET}"
        volumes:
            - ./minio/mnt/data:/data

    grafana:
        image: grafana
        restart: always
        user: root
        ports:
            - 3000:3000
        environment:
            GF_SECURITY_ADMIN_PASSWORD: "${MDML_GRAFANA_SECRET}"
        volumes:
            - ./grafana/grafana.ini:/etc/grafana/grafana.ini
            - /etc/ssl/private/nginx-selfsigned.key:/etc/ssl/nginx-selfsigned.key
            - /etc/ssl/certs/nginx-selfsigned.crt:/etc/ssl/certs/nginx-selfsigned.crt
        depends_on:
            - grafana_mysqldb
            - influxdb

    # mosquitto_auth:
    #     image: mosquitto_auth
    #     restart: always
    #     ports:
    #         - 3307:3307
    #     environment:
    #         - MYSQL_ROOT_PASSWORD=je_MDML1228rootmosauth
    #         - MYSQL_DATABASE=auth
    #         - MYSQL_USER=mosquitto
    #         - MYSQL_PASSWORD=je_MDML1228mosauth
    #     volumes:
    #         - ./mosquitto_auth/conf:/etc/mysql/conf.d
    #         - ./mosquitto_auth/auth:/var/lib/mysql

    grafana_mysqldb:
        image: grafana_mysqldb
        restart: always
        ports:
            - 3306:3306
        environment:
            MYSQL_ROOT_PASSWORD: "${MDML_GRAFDB_ROOT_SECRET}"
            MYSQL_DATABASE: "grafana"
            MYSQL_USER: "grafana"
            MYSQL_PASSWORD: "${MDML_GRAFDB_SECRET}"
        # volumes:
        #     - ./grafana_mysqldb/data:/var/lib/mysql

    register_account:
        image: register_account
        command: go run /root/register_mdml_user.go
        restart: always
        ports:
            - 8184:8184
        environment: 
            HOST: "${HOSTNAME}"
        volumes:
            - ./mdml_register/MinIO_policies:/root/MinIO_policies
            - ./mdml_register/register_mdml_user.go:/root/register_mdml_user.go
            - ./mdml_register/add_mqtt_acl.sh:/root/add_mqtt_acl.sh
            - ./mdml_register/create_minio_bucket.py:/root/create_minio_bucket.py
            - ./mdml_register/config.json:/root/.mc/config.json
            - ./mdml_register/.s3cfg:/root/.s3cfg
            - ./mosquitto/wordpassfile.txt:/etc/mosquitto/wordpassfile.txt
            - ./mosquitto/acl_file.txt:/etc/mosquitto/acl_file.txt
            - ./mosquitto/mosquitto.conf:/etc/mosquitto/mosquitto.conf
            - /etc/ssl/private/nginx-selfsigned.key:/etc/ssl/nginx-selfsigned.key
            - /etc/ssl/certs/nginx-selfsigned.crt:/etc/ssl/certs/nginx-selfsigned.crt
        depends_on:
            - nginx